#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel,
.friends-screen__list {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--blue);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.1s ease-in-out forwards;
  animation-delay: 0.5s;
}
.main-friends-row {
  margin: 20px 0px;
  padding: 5px;
}
.main-friends-row:hover {
  transform: scale(1.1);
  border-radius: 20px;
  box-shadow: 1px 3px 6px var(--blue);
  transition: all 1s ease-in-out;
}
.user-component__text__row:last-child {
  padding: 2px 10px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
