.welcome-header {
  margin: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;
}
.welcome-header__text {
  width: 70%;
  opacity: 0.5;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}
.login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}
.login-form::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form input:focus {
  border-color: var(--blue);
}
.login-form input[type="submit"] {
  background-color: var(--blue);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}
.login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  margin-bottom: 20px;
}
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
