@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&family=Nanum+Gothic:wght@400;700&display=swap");

* {
  font-family: "Baloo Tamma 2", "Nanum Gothic", sans-serif, cursive;
}
h1 {
  font-family: "Baloo Tamma 2";
  font-size: 30px;
  font-weight: 600;
}
h2 {
  font-family: "Baloo Tamma 2";
  font-size: 20px;
  font-weight: 400;
}
h3 {
  font-family: "Baloo Tamma 2";
  font-size: 15px;
  font-weight: 400;
  color: gray;
}
h4 {
  font-family: "Nanum Gothic";
  font-size: 30px;
  font-weight: 700;
}
h5 {
  font-family: "Nanum Gothic";
  font-size: 20px;
  font-weight: 400;
}
h6 {
  font-family: "Nanum Gothic";
  font-size: 15px;
  font-weight: 400;
  color: gray;
}
