.music-main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0px;
}
.music-main__info-row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  overflow: auto;
}
/* 
.music-main__info-row img {
  border-radius: 30px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 10px 10px 10px #eb9984;
} */

.music-main__info-row:nth-child(1) {
  height: 5%;
}
.music-main__info-row:nth-child(2) {
  height: 75%;
}
.music-main__info-row:nth-child(3) {
  height: 15%;
  /* background-color: seagreen; */
}
.music-main__info-row:nth-child(4) {
  height: 5%;
  /* background-color: silver; */
}
.track-art {
  height: 80%;
  width: 80%;
  border-radius: 30px;
  /* box-shadow: 10px 10px 10px #eb9984; */
  background-size: cover;

  background-image: url("https://cdnimg.melon.co.kr/cm2/album/images/104/26/648/10426648_20200506153340_500.jpg?0ed92b652a9149e26387233529a32781/melon/quality/80/optimize");
}

.now-playing {
  font-family: "Baloo Tamma 2";
  font-size: 1.2rem;
  font-weight: 400;
}

.track-artist {
  font-family: "Baloo Tamma 2";
  font-size: 2rem;
  font-weight: 400;
}

.track-name {
  font-family: "Baloo Tamma 2";
  font-size: 1.5rem;
  font-weight: 400;
  color: gray;
}
