#check-size__big,
#check-size__small {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
}

@media screen and (max-width: 1024px) {
  #check-size__big {
    display: none;
  }
}
@media screen and (min-width: 300px) {
  #check-size__small {
    display: none;
  }
}
