.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__row {
  width: 33%;
}
.status-bar__row:first-child span {
  margin-right: 5px;
}
.time_box {
  display: flex;
  justify-content: center;
}

.txt_sm {
  font-size: 0.5rem;
  align-items: center;
}

.status-bar__row:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}
.status-bar__row:last-child img,
.status-bar__row:last-child span,
.status-bar__row:last-child .fa-battery-full {
  margin-right: 5px;
}
